<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="Angular" width="72" height="72">
    <h2>ngx-kc-selectbox</h2>
    <p class="lead">
      Angular component for select box with checkboxes and radio buttons. 
    </p>
  </div>
  <div class="row">
    <div class="col">
      <ngx-selectbox [placeholder]="'Sort by'">
        <div class="items">
          <label class="custom-input">Ascending
            <input type="radio" name="set_3" value="ASC">
            <span class="checkmark"></span>
          </label>
          <label class="custom-input">Descending
            <input type="radio" name="set_3" value="DESC">
            <span class="checkmark"></span>
          </label>
        </div>
      </ngx-selectbox>
      <pre class="card mt-4"><code [highlight]="code1"></code></pre>
    </div>
    <div class="col"></div>
  </div>
</div>